*{
    margin: 100%;
    padding: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #333;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: border-color 0.2s ease;
    box-sizing: border-box;
    resize: vertical;
}

.container form input:focus {
    border-color: #66afe9;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(34, 34, 106, 0.1);
}

.container form button {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    background-color: #66afe9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}


.container form button:hover {
    background-color: #5cb85c;
    display: block;
    margin: 0 auto;
    width: 100%;
}